@charset "UTF-8";

.categorie{
    clear : both;
}

.categorie ul {
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.flex {
          /* Source : https://www.colorzilla.com/gradient-editor/
   	* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  	background: rgb(179,220,237); /* Old browsers */
  	background: -moz-linear-gradient(45deg,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 30px;
    border: 2px solid lightblue;
    border-radius: 5px;
  	padding: 5px;
  	text-align: justify;  
}

.categorie .titre_description { 
    background-color: #AFDBED;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  	width: 250px;
    height: 220px;
  	padding: 10px;   
}

.categorie li a {
	display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.categorie .titre a{
  	padding: 20px;
  	font-size: 18px;
    font-weight : bold;
}

.description {
    padding: 5px;
}

.categorie .resultat {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.categorie li a:hover:not(.active) {
	   /* Source : https://www.colorzilla.com/gradient-editor/
   	* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  	background: rgb(179,220,237); /* Old browsers */
  	background: -moz-linear-gradient(45deg,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.total {
    font-size: 20px;
    float : right;
    margin: 20px;
}

.nombre {
  /* Source : https://www.colorzilla.com/gradient-editor/
	 * Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 2px solid lightblue;
    padding-left: 5px;
    padding-right: 5px;
}

article{
	padding : 20px;
    clear : both;
}