@charset "UTF-8";


.titre_categorie {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
}

.ps {
    color: black;
}

div {
    width: 80%;
    margin: auto;
}

#diagramme img{
    width: 100%;
    height: 100%;
}

#image {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}